@use 'sass:map';
@import 'common';

$card-width: 80px;

.dapp-card {
  width: $card-width;

  &:hover {
    cursor: pointer;
  }
}

.dapp-icon {
  background-color: var(--#{$prefix}tertiary-bg);
  border-radius: $border-radius-xl;
  padding: map.get($spacers, 3);
  height: $card-width;
}

.dapp-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: map.get($spacers, 1);
}
