<app-nav
  [activeTab]="activeTab$ | async"
  (activeTabChange)="onActiveTabChange($event)"
>
  <ng-container *ngFor="let tab of tabs$ | async">
    <ng-template
      appNavItem
      [id]="tab.id"
      [title]="tab.title"
      (closeClick)="onTabCloseClicked(tab)"
    >
      <ng-container *ngIf="!tab.url">
        <app-dashboard></app-dashboard>
      </ng-container>

      <ng-container *ngIf="tab.url">
        <app-webview [id]="tab.id" [src]="tab.url"></app-webview>
      </ng-container>
    </ng-template>
  </ng-container>
</app-nav>
