@use 'sass:math';
@use 'sass:map';
@import 'common';

:host {
  height: 100%;
  position: relative;
}

.tab-bar {
  width: 100%;
  height: env(titlebar-area-height);
  background-color: var(--#{$prefix}tertiary-bg);
}

.tab-bar-inner {
  width: env(titlebar-area-width);
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.tabs-wrapper {
  height: 100%;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 0;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  border-bottom: none;
  height: 100%;
}

.nav-item {
  position: relative;
  max-width: 200px;
  width: 100%;
}

.nav-link {
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  padding-right: calc(
    #{$btn-close-width} + #{$btn-close-padding-x * 2} + #{$nav-link-padding-x}
  );
  padding-left: $nav-link-padding-x;
  padding-top: 0;
  padding-bottom: 0;
  font-size: $font-size-sm;
}

:host,
.tab-content,
.tab-content > .active {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav-close-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(
    #{math.div($btn-close-padding-x, 2)} + #{math.div($nav-link-padding-x, 2)}
  );
}

.new-tab-button {
  $new-tab-button-spacing: map.get($spacers, 1);

  margin-left: $new-tab-button-spacing;
  margin-right: $new-tab-button-spacing;
}
