<ng-container *ngIf="tabs?.length && tabStatus">
  <div class="tabs-wrapper">
    <ul class="nav nav-tabs" role="tablist">
      <ng-container *ngFor="let tab of tabs">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            type="button"
            role="tab"
            (click)="onTabClicked(tab)"
            [id]="tab.id + '-tab'"
            [class.active]="tabStatus[tab.id]"
            [attr.aria-selected]="tabStatus[tab.id]"
            [attr.aria-controls]="tab.id"
          >
            {{ tab.title }}
          </button>

          <ng-container *ngIf="tabStatus[tab.id]">
            <app-close-button
              class="nav-close-button"
              (click)="onTabCloseClicked(tab)"
            ></app-close-button>
          </ng-container>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="tab-content">
    <ng-container *ngFor="let tab of tabs">
      <div
        class="tab-pane"
        tabindex="0"
        role="tabpanel"
        [id]="tab.id"
        [class.active]="tabStatus[tab.id]"
        [attr.aria-labelledby]="tab.id + '-tab'"
      >
        <ng-container *ngIf="!tab.url">
          <app-dashboard></app-dashboard>
        </ng-container>

        <ng-container *ngIf="tab.url">
          <app-webview [id]="tab.id" [src]="tab.url"></app-webview>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>
