<div class="toolbar">
  <app-button
    icon="true"
    aria-label="Go back"
    title="Go back"
    (click)="navigateBack()"
  >
    <i class="bi bi-caret-left"></i>
  </app-button>

  <app-button
    icon="true"
    aria-label="Go forward"
    title="Go forward"
    (click)="navigateForward()"
  >
    <i class="bi bi-caret-right"></i>
  </app-button>

  <app-button
    icon="true"
    aria-label="Reload page"
    title="Reload page"
    (click)="reload()"
  >
    <i class="bi bi-arrow-clockwise"></i>
  </app-button>
</div>
